.photograper_media{
    display: flex;
}

.card{
    flex-direction: row;
 }
 
.name{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.display{
    display:flex;
    gap: 30px;
    flex-wrap: wrap;
}

.media-img{
    display:flex;
    gap: 30px;
    flex-wrap: wrap;
}

.set{
    width: 350px;
    height: 351px;
}