main {
        max-width: 1440px;
        margin: 0 auto;
        margin-bottom: 30px;

}
.photograper_media{
    display: none;
      justify-content: center;
      align-items: center;
      height: 100vh;
      flex-wrap: wrap;
      padding: 20px;
}

.title{
    margin-bottom: 30px;
}
.location{
    color: #901C1C;
    margin-bottom: 30px;
    font-size: 24px;
}


.card{
    flex-direction: row;
 }
 
.title_like{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.display{
    display:flex;
    gap: 30px;
    flex-wrap: wrap;
}

.media-img{
    display:flex;
    gap: 30px;
    flex-wrap: wrap;
}

.set{
  object-fit: cover;
    width: 350px;
    height: 351px;
}

.fixed-div {
    display: flex;
    padding: 10px;
    flex-direction: row;
    position: fixed;
    bottom: 0; /* Collée en bas */
    right: 0;  /* Collée à droite */
    background-color: #DB8876;
    padding: 15px;
    border-radius: 5px 5px 0 0; /* Arrondir seulement le coin supérieur gauche */
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.2);
    width: 376px;
    height: 40px;
    color:black;
    font-size: 20px;
    font-weight: bold;
    justify-content: space-around;
    margin-right: 40px;
  }

  /* Style pour le texte à l'intérieur */
  .fixed-div p {
    margin: 5px 0;
    font-size: 16px;
    color: #333;
  }
  

  .modal {
    display: none;
    position:fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
  }
  
  .modal-content {
    position: relative;
    background-color: rgba(255, 253, 253, 0.9);
    margin: auto;
    padding: 20px;
    width: 80%;
    max-width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 10px;
  }
  
  #modalImage {
    max-width: 100%;
    max-height: 90vh;
    object-fit: contain;
  }
  
  .modal-title{
    margin-top: 10px;
    margin-bottom:10px;
    color: #901C1C;
    font-weight: bold;
  }
  .close {
    position: fixed;
    right: 20px;
    top: 20px;
    color: white;
    font-size: 30px;
    cursor: pointer;
    color: #901C1C;
  }

  .close_modal{
    display: block;
  }
  
  .prev, .next {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    color: white;
    font-size: 30px;
    cursor: pointer;
    padding: 16px;
    color: #901C1C;
  }
  
  .prev {
    left: 20px;
    color: #901C1C;
  }
  
  .next {
    right: 20px;
  }
  .fa-heart {
    cursor: pointer;
    transition: all 0.3s ease;
    color: transparent;
    -webkit-text-stroke: 2px  #901C1C;
    ; /* Ajoute une bordure noire */
  }

  .far-solid{ 
  color:black
  }
  

  
  .fa-heart.liked {
    color: #901C1C;
    -webkit-text-stroke: 2px #901C1C; /* Bordure rouge quand le cœur est aimé */
  }
  
  .like-container {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .like-count {
    margin-right: 5px;
  }

  #gallery{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      flex-wrap: wrap;
      padding: 20px;
  }

  .total-likes-container {
    position: absolute;
    bottom: 0;
    right: 36px;
    background-color: #DB8876;
    border-radius: 5px 5px 0 0;
    padding: 15px;
    font-weight: bold;
    font-size: 24px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  .total-likes-container i {
    font-size: 18px;
  }

  .sort-container {
    margin: 20px 0;
    display: flex;
    align-items: center;
    margin-left: 7em;
  }
  
  .sort-container label {
    margin-right: 10px;
    font-weight: bold;
    color: #000;
  }
  
  #sort-select {
    padding: 10px 14px;
    border-radius: 5px;
    border: 1px solid #901C1C;
    font-size: 16px;
    background-color: #901C1C;
    color: white;
    cursor: pointer;
  }
  
  #sort-select:focus {
    outline: none;
    box-shadow: 0 0 0 2px #DB8876;
  }