#contact_modal {
    display: none;
}

.photograph-header {
    background-color: #FAFAFA;
    margin: 0 100px;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    margin-top: -50px;
}

.menu {
  margin-left: 90px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 130px;
  border: none;
  background-color: #901C1C;
  border-radius: 5px;
  cursor: pointer;

}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

  article{
    margin:30px;
  }
  .container{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    flex-wrap: wrap;
    gap: 30px;
    border-radius: 5px;
    background-color: #fafafa;
    min-height: 300px;
    padding: 10px 50px;
    width: 100%;
  }
  .photographer_card{
    margin-top: -100px;
  }
  
  .photographer_cover {
    position: relative;
    height: 200px;
    width: 200px;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: transform 0.15s ease-in-out;
    margin-top: -20px;
  }
  .photographer_cover img {
    object-fit: cover;
    height: 100%;
    min-width: 100%;
    
  }
  .photographer_cover::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.3s ease-in-out;
  }
  section{
    margin: 30px;
  }
 
  /* media*/

  .media-cards-list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
    gap: 30px;
  }
  .media-cards-list a {
    text-decoration: none;
  }
  .media-card {
    list-style: none;
    width: 350px;
  }
  .media-card_cover {
    display: block;
    position: relative;
    width: 100%;
    height: 300px;
    border-radius: 5px;
    overflow: hidden;
  }
  .media-card_cover img,
  .media-card_cover video {
    min-width: 350px;
    height: 351px;
    object-fit: contain;
  }

  .vid
    {
      width: 350px;
      height: 351px;
      object-fit: cover; /* Assure que la vidéo s'adapte tout en gardant les proportions */
      border: 2px solid #ccc; /* Optionnel : ajout d'une bordure */
      border-radius: 5px; /* Optionnel : arrondir les coins de la vidéo */
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optionnel : ajouter une ombre pour un effet visuel */
      display: block;
      margin: 0 auto; /* Centrer la vidéo */
  }
  .media-card_cover::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    background-color: #fff;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.3s ease-in-out;
  }
  .media-card_cover::after {
    position: absolute;
    font-family: "Material icons";
    content: "";
    font-size: 30px;
    top: 50%;
    left: 50%;
    opacity: 0;
    z-index: 1;
    color: #fff;
    background-color: #d3573c;
    height: 50px;
    width: 50px;
    line-height: 50px;
    text-align: center;
    border-radius: 50%;
    transform: translate(-50%, 30px);
    transition: opacity 0.3s ease-in-out, transform 0.15s ease-in-out;
  }
  .media-card_cover:hover::before {
    opacity: 0.3;
  }
  .media-card_cover:hover::after {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
  .media-card_content {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: start;
    flex-wrap: nowrap;
    gap: 20px;
  }
  .media-card__content__title {
    font-size: 24px;
    margin: 0;
  }