@import url("photographer.css");

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}


header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 90px;
}

h1 {
    color: #901C1C;
    margin-right: 100px;
       margin-top: 10px;
    margin-bottom: -20px;
}

.countryCity{
     color: #901C1C;
     margin-top: 10px;
     margin-bottom: -15px;
}

p{
    margin-bottom: -15px;
}

.price{
    color: grey;
}

.logo {
    height: 50px;
    margin-left: 100px;
}

.photographer_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin-top: 100px;
}

.photographer_section article {
    justify-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.photographer_section article h2 {
    color: #D3573C;
    font-size: 36px;
    margin-top: 10px;
    margin-bottom: -15px;
}

.photographer_section article img {
    border-radius: 50%;
    height: 200px;
    object-fit: cover;
    text-decoration: none;
    width: 200px;
}

a{
    text-decoration: none;
}


/*
.tabclas {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
    padding:0 !important;
    border:0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
  }
  */